<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="static/styles/entrance.css">
    <link rel="icon" href="data:;base64,=">
</head>
<body>
    <form id="main-form" onsubmit="return CheckReg(this, event)" method="POST">
    <div class="registration">
        <p class="entrance">Вход в систему</p>
        <div class="input-login">
        <input type="text" placeholder="Логин" id="text" required>
        </div>
        <br>
        <br>
        <div class="password-login">
        <input type="password" placeholder="Пароль" id="password" required>
        </div>
        <br>
        <br>
        <div class="submit">
        <input type="submit" placeholder="Подтвердить" id="entrance">
        </div>
        <div id="error" class="error"></div>
    </div>
    </form>
    <script src="static/Js/entrance.js"></script>
</body>
 
</html>