<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Газпромбанк</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="icon" href="data:;base64,=">
</head>
<body>
    <h1>Gazprombank</h1>
    <table>
        <tr>
            <th>bank</th>
            <th>title</th>
            <th>news</th>
            <th>data</th>
            <th>data_parsing</th>
            <th>time_parsing</th>
        </tr>
        {%for gazprombank in gazprombank %}
        <tr>
            <td>{{gazprombank[1]}}</td>
            <td>{{gazprombank[2]}}</td>
            <td>{{gazprombank[3]}}</td>
            <td>{{gazprombank[4]}}</td>
            <td>{{gazprombank[5]}}</td>
            <td>{{gazprombank[6]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

